@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

/*Html Default Css*/
html{
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    width: 100%;
    height: 100%;
}
.maxWidth{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.menuButton{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

/* Navbar CSS*/
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}
.navbar.sticky{
    padding: 15px 0;
    background: #121212;
}
.navbar .maxWidth{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar #logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}
.navbar #logo a span{
    color: #556DC8;
    transition: all 0.3s ease;
}
.navbar.sticky #logo a span{
    color: #fff;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: #556DC8;
}
.navbar .menu li a:after{
    content:'';
    display:block;
    height:3px;
    width:0%;
    background-color:#556DC8;
    transition: all ease-in-out 200ms;
}
.navbar .menu li a:hover::after{
    width:100%;
}

/*Particles and Home*/

#particles-js{
    display: flex;
    width: 100%;
    height: 100vh;
    min-height: 500px;
    background: #121212 no-repeat center;
    background-size: cover;
    background-attachment:fixed;
    font-family:'Ubuntu', sans-serif;
    color:white;
    position: relative;
}
section{
    padding: 100px 0;
}
.maxWidth{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

#particles-js .maxWidth{
    position: absolute;
    top: 40%;
    left: 5%;
    width: 100%;
    max-width: 600px;
}
#particles-js .maxWidth .row{
  margin-right: 0;
}
#particles-js .home-content .text1{
    font-size: 27px;
}
#particles-js .home-content .text2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
#particles-js .home-content .text3{
    font-size: 40px;
    margin: 5px 0;
}
#particles-js .home-content .text3 span{
    color: #556DC8;
    font-weight: 500;
}
.about, .services, .skills, .teams, .contact, footer{
    font-family: 'Poppins', sans-serif;
}
.about .about-content,
.projects .serv-content,
.skills .skills-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
.title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
.title::after{
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: #556DC8;
    padding: 0 5px;
    background: #fff;
    transform: translateX(-50%);
}
.title::after{
    content: "who i am";
}
.about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}
.about-content .right{
    width: 55%;
}
.about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.about-content .right p{
    text-align: justify;
}



.skills .title::before{
    background:white;
}
.skills .title::after{
    content: "what I know";
    background:#121212;
}
.skills .skills-content .column{
    width: calc(50% - 30px);
    background:#121212;
}
.skills .skills-content .left .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.skills .skills-content .left p{
    text-align: justify;
}

.skills .skills-content .right .bars{
    margin-bottom: 15px;
}
.skills .skills-content .right .info{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}
.skills .skills-content .right span{
    font-weight: 500;
    font-size: 18px;
}
.skills .skills-content .right .line{
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
}
.skills .skills-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: #556DC8;
}
.skills-content .right .html::before{
    width: 80%;
}
.skills-content .right .css::before{
    width: 60%;
}
.skills-content .right .js::before{
    width: 60%;
}
.skills-content .right .php::before{
    width: 40%;
}
.skills-content .right .mysql::before{
    width: 40%;
}
.skills{
    background:#121212;
    color:white;
}

.projects{
    font-family: 'Poppins', sans-serif;
    color:black;
    background: white;
}
.projects .title::before{
    background: black;
}
.projects .title::after{
    background: white;
    content: "what i have done";
}
.projects .serv-content .card{
    width: calc(33% - 20px);
    background: rgb(243, 243, 243);
    text-align: center;
    border-radius: 6px;
    padding: 50px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.projects .serv-content .card:hover{
    background: #556DC8;
}
.projects .serv-content .card .box{
    transition: all 0.3s ease;
}
.projects .serv-content .card:hover .box{
    transform: scale(1.05);
}
.projects .serv-content .card i{
    font-size: 50px;
    color: #556DC8;
    transition: color 0.3s ease;
}
.projects .serv-content .card:hover i{
    color: #fff;
}
.projects .serv-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
a {
    color:black;
}
